@tailwind base;
@tailwind components;
@tailwind utilities;

.input-box {
  @apply border p-3 rounded-md placeholder:text-[#333333] focus:outline-myGreen focus:bg-white;
}

.submit-btn {
  @apply bg-myGreen w-full p-3 rounded-md font-semibold;
}

.table-container {
  @apply rounded-[20px] border border-[#d5d5d5];
}

.table-header {
  @apply p-5 flex justify-between border-b;
}

.table-header h2 {
  margin: 0;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  @apply p-5 text-start
}

.user-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.user-info {
  @apply flex items-center
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}